@import '~styles/variables';

.dialogs {
    &__item {
        display: flex;
        margin-bottom: 25px;
        $item: &;
        &-avatar {
            margin-right: 10px;
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }

        &--online {
            #{$item}-avatar {
                position: relative;
                &::before {
                    content: '';
                    background-color: $green;
                    border-radius: 30px;
                    width: 14px;
                    height: 14px;
                    display: block;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    border: 3px solid #fff;
                }
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            &-top {
                display: flex;
                b {
                    font-weight: bold;
                    font-size: 14px;
                    flex: 1;
                    margin-bottom: 8px;
                }
                span {
                    opacity: .5;
                    font-size: 12px;
                }
            }
            &-bottom {
                position: relative;
                p {
                    opacity: .6;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 230px;
                    height: 1.2em;
                    white-space: nowrap;
                }
                &-count {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background: #f46b6b;
                    color: white;
                    font-weight: 500;
                    width: 18px;
                    height: 18px;
                    border-radius: 30px;
                    font-size: 11px;
                    text-align: center;
                    line-height: 17px;
                    box-shadow: 0 0 0 3px #fff;
                }
                .message__checked {
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
}