@import '~styles/variables';

.message {
    $self: &;

    &__content {
        display: flex;
        max-width: 440px;
        margin-bottom: 15px;
    }

    &__avatar {
        display: flex;
        flex-direction: column-reverse ;
        img {
            border-radius: 50px;
            width: 33px;
            height: 33px;
            margin-right: 12px;
            margin-bottom: 5px;
        }
    }

    &__bubble {
        background: $blue;
        box-shadow: 0px 5px 5px rgba(0,0,0, 0.19);
        border-radius: 12px 12px 12px 0;
        padding: 15px;
        margin-bottom: 8px;
    }

    &__text {
        color: #fff;
        line-height: 20px;
    }

    &__attachments {
        display: flex;
        margin-bottom: 7px;
        img {
            width: 45px;
            height: 45px;
            border-radius: 8px;
            margin-right: 6px;
            cursor: pointer;
        }
    }

    &__date {
        font-size: 12px;
        opacity: 0.5;
    }

    &__checked {
        display: none;
        width: 15px;
        height: 15px;
        margin: auto 0;
        margin-left: 10px;
    }

    &--isme {
        display: flex;
        flex-direction: row-reverse;

        #{$self}__content {
            margin-bottom: 15px;
            flex-direction: row-reverse;
        }

        #{$self}__avatar { 
            img {
                margin-right: 0;
                margin-left: 13px;
            }
        }

        #{$self}__info {
            text-align: right;
        }

        #{$self}__attachments {
            justify-content: flex-end;
        }

        #{$self}__bubble {
            background: #fff;
            border: 1px solid #ececec;
            box-shadow: 0px 4px 4px rgba(0,0,0,0.02);
            border-radius: 12px 12px 0px 12px;

            #{$self}__text {
                color: $black;
                text-align: left;
            }
        }

        #{$self}__checked {
            margin-left: 0px;
            margin-right: 10px;
            display: inline;
        }
    }

    &--is-typing {
        #{$self}__bubble {
            background: $message-typing-blue;
            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.19);
        }
    }

    &__typing {
        span {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background: $message-typing-circle;
            display: inline-block;
            margin-right: 8px;

            &:nth-of-type(1){
                animation: typingAnimation 1s ease-in-out infinite;
                animation-delay: .1s;
                animation-direction: normal;
            }
            &:nth-of-type(2){
                animation: typingAnimation 1s ease-in-out infinite;
                animation-delay: .2s;
                animation-direction: normal;
            }
            &:nth-of-type(3){
                animation: typingAnimation 1s ease-in-out infinite;
                animation-delay: .3s;
                animation-direction: normal;
            }
        }
    }

    &--image {
        #{$self}__attachments {
                img {
                    width: 150px;
                    height: 150px;
                }
        }
    }
}

@keyframes typingAnimation {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
      }
    
      50% {
        opacity: 1;
      }
}